
html {
    height: 100%;
    width: 100%;
    background-color: #D7D7D7;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.list {
    width: 100%;
    height: 60px;
    background-color: #eee;
    text-align: center;
    vertical-align: middle;
}

#pagination-container, #pagination-container2 {
    margin-top:20px;
    display: inline-block;
}
